.title {
    color: white;
}

.selfie {
    border-radius: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
}

.info {
    -webkit-text-stroke: 0.1px white;
    display: flex;
    flex-direction: column;
}
